.list {
  list-style: none;
  margin-bottom: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

.listBtn {
  border-radius: 3px;
  border: 1px solid grey;
  margin-left: 10px;
  cursor: pointer;
}

.listBtn:hover,
.listBtn:focus {
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}
